.logo{
    height: 60px;
    width: 60px;
    animation: rotation 7s infinite ;
}
.imge{
    min-width: 100px;
    min-height: 100px;
}

.continer-skill{
    width: 60%;
    height: 20px;
    background-color: rgb(252, 163, 17);
    border-radius: 20px;
    text-align: right;
    padding-right: 5%;
    display: flex;
    justify-content: space-between;
    align-self: center;
    transition: opacity ease-in 1s;
}
.skill-level{
    background-color: rgb(20, 33, 61);
    height: 100%;
    border-radius: 20px;
    width: 0%;
    transition: width 3s  ease-in-out;
}

.flex-box-column{/*to remove tramsiton later*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    transition: color 1s;
}

.skill-title{
    transition: width 4s ,opacity 2s;
    text-align: center;
    width: 25%;
}
.skill_continer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    transition: color 2s;
}
.show{
    width:100%;
    display: block;
}
.hide{
    opacity: 0;
}
/*.btn{
    width: 35%;
    height: 5%;
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 10%;
    position: static;
    bottom: 10px;
    transition: opacity 0.1s;
}*/
