ol > li{
    list-style-type: circle;
    height: 20%;
    color: green;/* rgb(255, 255, 243); */;
    background: linear-gradient(to left, rgb(0, 0, 0) 51%, rgb(183, 173, 153,0.8) 49%) right;
    background-size: 200% 100%;
    transition: all;
    transition: .5s 0.25s ease-out;
    font-weight: 900;
    padding-top: 1.5rem;
    font-family: 'SF Pixelate', sans-serif;
}
#sideNavBar{
   display: flex;
   flex-direction: column;
   justify-content: center;
    height: 100vh;
    cursor: cell;
}
ol{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

li:hover{
    background-position: left;
    
}


