.imge{
    min-width: 100px;
    min-height: 100px;
}
*{
    box-sizing: border-box;
}
.continer-skill{
    width: 80%;
    height: 20px;
    background-color: antiquewhite;
    border-radius: 20px;
    text-align: right;
    padding-right: 5%;
    display: flex;
    justify-content: space-between;
}
.skill-level{
    background-color: rgba(26, 26, 218, 0.534);
    height: 100%;
    border-radius: 20px;
    transition: width 10s 10s ease-in-out;
}
