a{
    text-decoration: none !important;
    color: black !important;
}
button.download{
    /*background-color: rgb(139, 139, 148) !important;*/
    height: 3.5rem;
    /*width: % !important;*/
    text-decoration: none;
}